# For more information about the configurations used
# in this file, please see the EditorConfig documentation.
#
# https://editorconfig.org

root = true

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[*]

# Unix-style newlines with a newline ending every file

charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[*.{bash,sh,zsh}]

indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[*.{js,json,ts}]

indent_size = 2
indent_style = space
quote_type = single
trim_trailing_whitespace = true

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[*.md]

# Markdown uses the trailing whitespaces.
# https://daringfireball.net/projects/markdown/syntax#block

max_line_length = 0
trim_trailing_whitespace = false

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[*.py]

indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[{*.rb,Rakefile}]

indent_style = space
indent_size = 2

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[*.snippets]

indent_style = space
indent_size = 4

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[*.vim]

indent_style = space
indent_size = 4

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[COMMIT_EDITMSG]

max_line_length = 0

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[Makefile]

indent_style = tab
