#
# ~/.editorconfig
#

# For more information about the properties used in
# this file, please see the EditorConfig documentation:
# http://editorconfig.org/

root = true

# Unix-style newlines with a newline ending every file
[**]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Standard at: https://github.com/felixge/node-style-guide
[**.{js,json,ts}]
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
quote_type = single
# curly_bracket_next_line = false
spaces_around_operators = true
space_after_control_statements = true
space_after_anonymous_functions = false
# spaces_in_brackets = false

# No Standard.  Please document a standard if different from .js
[**.{html,css,sass,scss,less,yml}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[**.md]
indent_style = space
indent_size = 4
max_line_length = 0
trim_trailing_whitespace = false

[{package.json,.travis.yml}]
; The indent size used in the `package.json` file cannot be changed
; https://github.com/npm/npm/pull/3180#issuecomment-16336516
indent_size = 2
indent_style = space

[**.py]
indent_style = space
indent_size = 2
