#!/usr/bin/env bash

#
# ~/.exports
#

# MAKE VIM THE DEFAULT EDITOR.
export EDITOR='vim';

# ENABLE PERSISTENT REPL HISTORY FOR `node`.
export NODE_REPL_HISTORY=~/.node_history;
# ALLOW 32³ ENTRIES; THE DEFAULT IS 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# USE SLOPPY MODE BY DEFAULT, MATCHING WEB BROWSERS.
export NODE_REPL_MODE='sloppy';

# MAKE PYTHON USE UTF-8 ENCODING FOR OUTPUT TO stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# INCREASE BASH HISTORY SIZE. ALLOW 32³ ENTRIES; THE DEFAULT IS 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# OMIT DUPLICATES AND COMMANDS THAT BEGIN WITH A SPACE FROM HISTORY.
export HISTCONTROL='ignoreboth';

# PREFER US ENGLISH AND USE UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# HIGHLIGHT SECTION TITLES IN MANUAL PAGES.
export LESS_TERMCAP_md="${yellow}";

# DON’T CLEAR THE SCREEN AFTER QUITTING A MANUAL PAGE.
export MANPAGER='less -X';

# AVOID ISSUES WITH `gpg` AS INSTALLED VIA HOMEBREW.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);
gpgconf --launch gpg-agent
export SSH_AUTH_SOCKET=$HOME/.gnupg/S.gpg-agent.ssh

# SET ANSIBLE CONFIGURATION.
export ANSIBLE_CONFIG=~/dotfiles/.ansible/ansible.cfg
export ANSIBLE_INVENTORY=~/dotfiles/.ansible/.ansible_hosts

# SET NODE MAX CPU SIZE
export NODE_OPTIONS=--max_old_space_size=4096
