#
# ~/.inputrc
#

# MAKE TAB AUTOCOMPLETE REGARDLESS OF FILENAME CASE.
set completion-ignore-case on

# LIST ALL MATCHES IN CASE MULTIPLE POSSIBLE COMPLETIONS ARE POSSIBLE.
set show-all-if-ambiguous on

# IMMEDIATELY ADD A TRAILING SLASH WHEN AUTOCOMPLETING SYMLINKS TO DIRECTORIES.
set mark-symlinked-directories on

# USE THE TEXT THAT HAS ALREADY BEEN TYPED AS THE PREFIX FOR SEARCHING THROUGH
# COMMANDS (I.E. MORE INTELLIGENT UP/DOWN BEHAVIOR).
"\e[B": history-search-forward
"\e[A": history-search-backward

# DO NOT AUTOCOMPLETE HIDDEN FILES UNLESS THE PATTERN EXPLICITLY BEGINS WITH A DOT.
set match-hidden-files off

# SHOW ALL AUTOCOMPLETE RESULTS AT ONCE.
set page-completions off

# IF THERE ARE MORE THAN 200 POSSIBLE COMPLETIONS FOR A WORD, ASK TO SHOW THEM ALL.
set completion-query-items 200

# SHOW EXTRA FILE INFORMATION WHEN COMPLETING, LIKE `ls -f` DOES.
set visible-stats on

# BE MORE INTELLIGENT WHEN AUTOCOMPLETING BY ALSO LOOKING AT THE TEXT AFTER
# THE CURSOR. FOR EXAMPLE, WHEN THE CURRENT LINE IS "cd ~/src/mozil", AND
# THE CURSOR IS ON THE "Z", PRESSING TAB WILL NOT AUTOCOMPLETE IT TO "cd
# ~/src/mozillail", BUT TO "cd ~/src/mozilla". (THIS IS SUPPORTED BY THE
# READLINE USED BY BASH 4.).
set skip-completed-text on

# ALLOW UTF-8 INPUT AND OUTPUT, INSTEAD OF SHOWING STUFF LIKE $'\0123\0456'.
set input-meta on
set output-meta on
set convert-meta off

# USE ALT/META + DELETE TO DELETE THE PRECEDING WORD.
"\e[3;3~": kill-word
