#!/usr/bin/env bash

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#
# ~/.inputrc
#
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Make Tab Autocomplete Regardless Of Filename Case.
set completion-ignore-case on

# List All Matches In Case Multiple Possible Completions Are Possible.
set show-all-if-ambiguous on

# Immediately Add A Trailing Slash When Autocompleting Symlinks To Directories.
set mark-symlinked-directories on

# Use The Text That Has Already Been Typed As The Prefix For Searching Through
# Commands ( e.g. More Intelligent Up/Down Behavior ).
"\e[B": history-search-forward
"\e[A": history-search-backward

# Do Not Autocomplete Hidden Files Unless The Pattern Explicitly Begins With A Dot.
set match-hidden-files off

# Show All Autocomplete Results At Once.
set page-completions off

# If There Are More Than 200 Possible Completions For A Word, Ask To Show Them All.
set completion-query-items 200

# Show Extra File Information When Completing, Like `ls -f` Does.
set visible-stats on

# Be More Intelligent When Autocompleting By Also Looking At The Text After The
# Cursor. For Example, When The Current Line Is `cd ~/src/mozil`, And The Cursor
# Is On The `z`, Pressing Tab Will Not Autocomplete It To `cd ~/src/mozillail`,
# But To `cd ~/src/mozilla`. ( This Is Supported By The Readline Used By Bash 4 ).
set skip-completed-text on

# Allow UTF-8 Input And Output, Instead Of Showing Stuff Like $'\0123\0456'.
set input-meta on
set output-meta on
set convert-meta off

# Use ALT/META + Delete To Delete The Preceding Word.
"\e[3;3~": kill-word
