progress=false
save=true
save-exact=true
registry=https://registry.npmjs.com/
//registry.npmjs.com/:_authToken=$NPM_REGISTRY_TOKEN
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=$FONTAWESOME_REGISTRY_TOKEN
//npm.pkg.github.com/:_authToken=$GITHUB_REGISTRY_TOKEN
