progress=false
save=true
save-exact=true
//registry.npmjs.org/:_authToken=7ae7e4ab-4d91-449f-bc75-0c0da2005f33
registry=https://registry.npmjs.com/
//registry.npmjs.com/:_authToken=2a23fa62-e7cb-4c03-859a-7db8057a615f
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=02F6EB97-2019-4CDB-803A-31634470ABE0
