## $PROJECT_NAME           = 'ARHPC'
#set( $PROJECT_COPYRIGHT   = $PROJECT_NAME )
#set( $PROJECT_DESCRIPTION = '' )
#set( $PROJECT_GITHUB      = 'https://github.com/sugarcodeit/arhpc' )
#set( $PROJECT_HOMEPAGE    = 'http://www.ruralhealthcoding.com' )
#set( $PROJECT_KEYWORDS    = [ 'arhpc' ] )
#set( $PROJECT_LICENSE     = 'MIT' )
#set( $PROJECT_VERSION     = '0.0.1' )
#set( $PROJECT_YEAR        = '2018-present' )
